h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
  object-fit: contain;
  box-sizing: border-box;
  padding: 10px;
}
.products {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-inline: 1rem;
  padding-block: 2rem;
}
.products::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.products::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.products::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.product > h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
}
.product > label {
  position: absolute;
  font-size: .8rem;
  background-color: hsl(30, 100%, 50%);
  color: #f1f1f1;
  padding: .2rem .5rem;
  top:30%;
  opacity: .8;
  left: 0;
  border-radius: 0 1rem 1rem;
}
.product {
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 auto;
  box-shadow: 15px 15px 25px rgba(27, 27, 27, 0.04);
  scroll-snap-align: start;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem;
}
.product > span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(30, 100%, 50%);
  color: white;
  padding: 5px 10px;
  border-radius: 1rem 1rem 0 10px;
}
.product:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 15px 15px 25px rgba(27, 27, 27, 0.074);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  translate: 50% 50%;
}
button {
  all: unset;
  background-color: hsl(20, 100%, 46%);
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 10rem;
  height: 1rem;
  width: 1rem;
  display: grid;
  place-content: center;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: hsl(20, 100%, 35%);
  transition: all 0.3s ease-in-out;
}

.cart-list {
  
}